# requirements.txt

streamlit
firebase-admin
firebase-functions
streamlit-authenticator
streamlit-cookies-manager
pandas
requests
PyYAML
Pillow
numpy
plotly>=5.0.0
scipy>=1.7.0
firebase-functions
reportlab
weasyprint
pytz